body {
  background-color: #F2EFE9; /* changed nothing */
}
.td {
  position: absolute;
  /*border: 2px solid #555;*/
  color: #F2EFE9; /* changed nothing */
  font: 12px sans-serif;
  background-color: #FFC4C4; /* changed nothing */
}
.td span {
  color: #F2EFE9;
  position: absolute; left: 8px; top: 8px;
}

.td_scrollable::-webkit-scrollbar-track {
	background-color: #242526;
}

.td_scrollable::-webkit-scrollbar {
	width: 12px;
	background-color: #242526;
}

.td_scrollable::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #242526;
}

.td_label {
  display: table;
  text-align: center;
}
.td_label span {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
}
.td_btn {
}
.td_btn_a {
  margin-top: 20px;
  margin-left: auto; margin-right: auto; /* centered */
  font-size: 30px;
  font-weight: bolder;
  color: #242526;
  border: 2px solid;
  border-radius: 16px;
  width: 34px;
  height: 34px;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}
.td_btn_a:hover { background-color: #242526; }
.td_btn[pressed="1"] .td_btn_a { color: #242526; }
.td_btn[pressed="1"] .td_btn_a:hover { background-color: #242526; }
.td_toggle_a {
  margin-top: 20px;
  margin-left: auto; margin-right: auto; /* centered */
  border: 2px solid #242526;
  border-radius: 16px;
  width: 50px;
  height: 28px;
}
.td_toggle_a:hover {
  background-color: #242526;
}
.td_toggle_b {
  background-color: #242526;
  border: 2px solid #242526;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  margin: 4px;
}
.td_toggle[pressed="1"] .td_toggle_b {
  margin-left: 26px;
}
.td_val {
  text-align: center;
}
.td_val div {
  display:inline-block;
}
.td_val_a {
  margin-top: 20px;
  font-size: 20px;
  color: #242526;
}
.td_val_b {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color: #242526;
  cursor: pointer;
  user-select: none;
}
.td_val_b:hover {
  color:#242526;
}

.td_gauge {
  text-align: center;
  text-color: #FFC4C4;
}
.td_gauge canvas {
  width: 100%;
  height: 100%;
}
.td_gauge_a {
  position: absolute;
  left: 0px; right: 0px; top: 50%;
  font-size: 40px;
  color: #FFC4C4;
}
.td_graph {
  text-align: center;
}
.td_graph canvas {
  width: 100%;
  height: 100%;
}
.td_log_a {
  position: absolute;
  top: 24px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  padding: 4px;
  background-color: #242526;
  overflow: auto;
}
.td_modal { /* for the 'click to connect' in the beginning */
  background-color: #F2EFE9;
  border: 2px solid #FFC4C4;
  cursor: pointer;
  user-select: none;
  font-color: #FFC4C4;
}
.td_modal span {
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}
